<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/send_review.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <title>Send Review</title>
    <style>
      body {
        background-image: url("{% static 'img/login/figure_blure.png' %}");
      }
    </style>
  </head>
  <body>
    <div
      class="header"
      style="background-image: url('{% static 'img/login/figure_blure.png' %}')"
    >
      <a href="{% url 'index' %}" class="logo">INFINITY CODE</a>
      <nav>
        <ul>
          <li>
            <a href="{% url 'catalog' %}"><i class="fas fa-book"></i> Каталог</a>
          </li>
          {% if user.is_authenticated %}
          <li>
            <a href="#"><i class="fas fa-bars"></i> Меню</a>
            <ul>
              <li>
                <a href="{% url 'users:profile' %}"
                  ><i class="fas fa-user"></i> Профиль</a
                >
              </li>
              <li>
                {% if user.is_superuser %}
                <a href="{% url 'admin:index' %}"
                  ><i class="fas fa-cogs"></i> Админ-панель</a
                >
                {% endif %}
              </li>
              <li>
                <a href="{% url 'users:logout' %}"><i class="fas fa-sign-out-alt"></i> Выйти</a>
              </li>
            </ul>
          </li>
          {% endif %}
          {% if not user.is_authenticated %}
          <li>
            <a href="{% url 'users:login' %}"
              ><i class="fas fa-sign-in-alt"></i> Войти</a
            >
          </li>
          {% endif %}
        </ul>
      </nav>
    </div>
    <div class="container">
      <div class="image-container">
        <img src="{% static 'img/main/tp-boy.png' %}" alt="boy with computer" />
      </div>
      <div class="review-form">
        <h1>Поставьте свою оценку:</h1>
        <form id="review-form" method="post" action="{% url 'send_review' %}">
          {% csrf_token %}
          <div class="rating">
            <input type="hidden" name="rating" id="rating-input">
            <span data-value="1">☆</span><span data-value="2">☆</span><span data-value="3">☆</span><span data-value="4">☆</span><span data-value="5">☆</span>
          </div>
          <h2>Напишите свое мнение:</h2>
          <textarea name="review" placeholder="Лучший сайт на свете!" required></textarea>
          <button type="submit">Отправить</button>
        </form>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/ScrollMagic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/plugins/animation.gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/ScrollMagic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/plugins/animation.gsap.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/send_reviews_scripts.js' %}"></script>
  </body>
</html>
